* {
  padding: 0;
  margin: 0;
}
body {
  background: url(./assets/bg.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
}
.navbar {
  width: 100%;
  height: 4rem;
  background-color: #000000;
  display: flex;
  align-items: center;
}
.logo {
  width: 4rem;
  height: 1.5rem;
  margin-left: 3rem;
}
.line {
  width: 2px;
  background-color: #ffffffff;
  height: 60%;
  float: left;
  margin-left: 6rem;
}
.grow-list {
  color: #ffffffff;
}
.list {
  list-style: none;
  display: flex;
  width: 50rem;
  justify-content: space-evenly;
}
.button-small {
  position: absolute;
  right: 3rem;
  top: 1rem;
  background-color: #ba0cc5;
  width: 7rem;
  height: 2rem;
  color: #ffffffff;
  border-style: none;
  border-radius: 5px;
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  font-size: 3rem;
  width: 30rem;
  text-align: center;
  color: #ffffffff;
}
.hero-description {
  color: #ffffffff;
}
.button-large {
  background-color: #ba0cc5;
  width: 10rem;
  height: 2rem;
  color: #ffffffff;
  border-style: none;
  border-radius: 5px;
  margin-top: 2rem;
}
